#convo-sent{
    max-width: 80%;
    // margin: 0 auto;
    // background-color: #2a6ce5;
    border-radius: 10px;
    line-height: 1.5;;
    

    .convo-sent-content{
        display: flex;
        margin-bottom: 12px;
        // justify-content: flex-end;

        span {
            background-color: #2a6ce5;
            padding: 10px;
            border-radius: 10px;
            align-items: flex-end;
        }
        
    }
}