#search{
    text-align: center;
    outline: none;
    border: none;
    background-color: #D4DEEA;
    width: 250px;
    height: 40px;
    border-radius: 10px;

    &::-webkit-search-cancel-button {
        display: none;
        height: 0;
        width: 0;
    }
}