#convo-container{
    padding: 5px 0;
    color: #091d34;
    border-bottom: 1px solid #eee;
    width: 250px;

    .user-name{
        font-size: 18px;
    }

    .convo-preview{
        font-size: 14px;
    }
}